<center>
    <h1>Welcome to undertale memes</h1>
    <h2>The plase to be if you like undertale (if you want to know way it's caled undertale memes well thats just random)</h2>
    <h3>Here its comics, memes (not many), and other Undertale stuf!</h3>
    <h3>Have fun!</h3>
    <h4>created by Eirik Skogmo</h4>
    
    <h2>Random number: <%= @random_number %></h2>
    
    <%= image_tag "http://img02.deviantart.net/a66d/i/2016/208/8/1/welcome__undertale_font__by_c3rc3ta-dabli8w.png" %>

</center>