/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    font-family: 'Ubuntu';
    background-color: #000;
    color: blue;
    background-image: url('http://www.fg-a.com/wallpapers/geo-shapes-black-1280b.jpg');
    background-size: cover;
}
h1 {
    font-size: 40px;
    text-align: center;
}

h3 {
    text-align: left;
    max-width: 500px;
}

.poster {
    margin-left: 214px;
}

.image-box {
    margin: 50px 0px;
}

.image {
    max-width: 500px;
    border: 5px blue solid;
}

.menu {
    background-color: blue;
    color: black;
    font-size: 22px;
    padding: 10px 20px;
    text-align: center;
}

.menu ul li {
    display: inline;
    margin: 0px 30px;
}